.wrapper {
    padding: 20px;
    height: 100%;

    .title {
        display: block;
        margin-bottom: 20px;
    }
}

.cards {
    display: grid;
    margin-bottom: 40px;
    grid-template-columns: repeat(auto-fit, calc((100% - 20px) / 2));
    gap: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.field {
    margin-bottom: 20px;
}

@media screen and (max-width: $media-mobile) {
    .wrapper {
        padding: 0px;
    }

    .cards {
        grid-template-columns: repeat(1, 100%);
    }
}
