.wrapper {
    padding: 20px;
    height: 100%;

    .title {
        display: block;
        margin-bottom: 20px;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 410px);
    gap: 20px;
    justify-content: center;
}

@media screen and (max-width: $media-mobile) {
    .wrapper {
        padding: 0px;
    }

    .cards {
        grid-template-columns: repeat(1, 100%);
    }
}
