{
    "trailingComma": "all",
    "singleQuote": false,
    "arrowParens": "always",
    "endOfLine": "auto",
    "printWidth": 100,
    "tabWidth": 4,
    "semi": true,
    "importOrder": [
        "^react$",
        "^[a-zA-Z].*$",
        "^@(mui|material).+$",
        "^@pages.*$",
        "^@templates.*$",
        "^@organisms.*$",
        "^@molecules.*$",
        "^@atoms.*$",
        "^@services.*$",
        "^@routes.*$",
        "^@store.*$",
        "^@hooks.*$",
        "^@HOC.*$",
        "^@constants.*$",
        "^@schemas.*$",
        "^@images.*$",
        "^@svg.*$",
        "^@.*$",
        "^..?/.*$",
        "^./.*$",
        "^.*[css, scss, sass]$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
