.window {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    transform: translate(-50%, -100%);
    flex-direction: column;
    max-height: 90vh;
    padding: 20px 0;
    max-width: 400px;
    width: 100%;
    border-radius: 6px;
    background: var(--color-secondary);
    outline: none;

    transition: 0.3s transform;

    .close {
        position: absolute;
        right: 10px;
        top: 10px;

        & svg {
            fill: var(--color-primary);
        }
    }

    &_open {
        transform: translate(-50%, -50%);
    }
}

.title {
    margin-bottom: 20px;
    padding: 0 20px;
}

.content {
    flex: 1;
    padding: 0 20px;
    overflow: auto;
}
