.wrapper {
    .title {
        margin-bottom: 20px;
    }
}

.content {
    display: flex;
    justify-content: space-between;
}

.img {
    height: 300px;
}

.list {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 10px;
}

.edit {
    width: 200px;
}

.back {
    margin-bottom: 20px;
}

@media screen and (max-width: $media-mobile) {
    .wrapper {
        position: relative;
    }

    .img {
        position: absolute;
        right: 0;
        top: -30px;
        height: 80px;
    }

    .edit,
    .left {
        width: 100%;
    }
}
