.header {
    border-bottom: 1px solid var(--color-border-primary);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
}

.logo {
    height: 100px;
}

@media screen and (max-width: $media-mobile) {
    .container {
        height: 100px;
    }

    .logo {
        height: 60px;
    }
}
