.wrapper {
    position: relative;
    padding: 20px;
    min-height: 200px;
    border-radius: 10px;
    background: url("/src/assets/images/swords.png") no-repeat center;
    background-size: auto;
    overflow: hidden;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: var(--color-secondary);
        opacity: 0.8;
    }
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lines {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 10px;
}
