:root {
    --color-primary: #ffffff;
    --color-secondary: #1d1e1f;
    --color-tertiary: #cccccc;

    --color-text-primary: #ffffff;
    --color-text-secondary: #000000;

    --color-border-primary: #ffffff;

    --color-bg-main: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

body {
    font-family: $font-family;
    color: var(--color-text-primary);
}
