.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    background: var(--color-bg-main), url("/src/assets/images/start-bg.jpg") no-repeat center;
    background-size: cover;
}

.container {
    height: 100%;
}

.main {
    padding: 40px 0;
    width: 100%;
    flex: 1 1 0;
}
